.main {
    min-height: 80dvh;
}

.admin-layout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-form {
    /* width: 40%; */
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(91, 88, 88, 0.755) .2rem .2rem .9rem .2rem;
}

.login_layout {
    /* width: 40rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 2rem; */
    /* margin: 5rem; */
}

.login {
    /* min-height: 72dvh; */
    /* width: 40rem;
    height: 30rem; */
    /*height: 24rem; */
    /* margin: 5rem auto; */

    margin-top: 4rem;
    width: 30em;
    border-radius: 20px;
    box-shadow: rgba(91, 88, 88, 0.755) .2rem .2rem .9rem .2rem;
    /* padding: 30px 10px 30px 10px; */
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}